<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
      <p><%#= @user.name %></p>

      <p>本日までの消費期限の食材が、<%#= @foods.count %>件あります。</p>
      <p>下記リンクからログインの上、詳細を確認できます。</p>
      <p><%= @url %></p>

  </body>
</html>