<div class="col-xs-12">
	<h4>管理者画面</h4>
	<%= link_to admins_users_path do%><button class="btn btn-default">会員一覧を確認する</button>
	<% end %>
	<%= link_to destroy_admin_session_path, method: :delete do %>
	<button class="btn btn-default">ログアウト</button><% end %>
</div>