<div class="col-xs-12">
		<h4 class="text-quit"><i class="fas fa-exclamation-circle"></i>  退会手続きの前にご確認ください</h4>

		<p class="text-quit">退会手続きをされた場合、会員情報や<br>
		保存されている内容が閲覧できなくなります。</p>

		<div class="btn-quit">
			<%= link_to '退会する', users_hide_path(current_user), method: :put, "data-confirm" => "本当に退会しますか？", class: "btn btn-primary", style:"width: 30%" %>
			<%= link_to '退会しない', users_path, class: "col-xs-offset-1 btn btn-info", style:"width: 30%" %>
		</div>
</div>

