<div class="col-xs-12">
	<div class="about1">
		<h4>いえぽけってなに  <i class="fas fa-question"></i></h4>
			<p>いえぽけは家にある食材を</p>
			<p>スマホで管理することができるアプリケーションです。</p>
	</div>
	<br>
	<div class="about2">
		<h4>こんな経験ありませんか  <i class="fas fa-question"></i></h4>
			<p>夕食の献立を考えたいけど、家にどんな食材があったかな？</p>
			<p>なくなりかけの調味料を買い忘れてしまった...。</p>
			<p>消費期限が過ぎてしまい、食材を無駄にしてしまった...。</p>
	</div>
	<br>
	<div class="about3">
		<h4>いえぽけでできること  <i class="fas fa-mobile-alt"></i></h4>
			<p><i class="fas fa-check-circle"></i>&nbsp;&nbsp;いつでも・どこでも家にある食材を確認できる</p>
			<p><i class="fas fa-check-circle"></i>&nbsp;&nbsp;ほしいものリストで買いたいものをチェックできる</p>
			<p><i class="fas fa-check-circle"></i>&nbsp;&nbsp;食材の消費期限の管理ができる</p>
	</div>
	<div class="about4">
		<%= link_to new_user_registration_path do %>
			<h4>さっそく利用してみる  <i class="far fa-hand-point-up"></i></h4>
		<% end %>		
	</div>
</div>
