<div class="col-xs-12">
	<div class="about1">
	<h4>いえぽけってなに  <i class="fas fa-question"></i></h4>
		<p>いえぽけは家にある食材をスマホで管理することができるアプリケーションです。</p>
	</div>
	<br>
	<div class="about2">
	<h4>こんな経験ありませんか  <i class="fas fa-question"></i></h4>
		<p>夕食の献立を考えたいけど、家にどんな食材があったかな？</p>
		<p>なくなりかけの調味料を買い忘れてしまった...。</p>
		<p>消費期限が過ぎてしまい、食材を無駄にしてしまった...。</p>
	</div>
	<br>
	<div class="about3">
	<h4>いえぽけでできること  <i class="fas fa-mobile-alt"></i></h4>
		<p>いつでも・どこでも家にある食材を確認できる</p>
		<p>食材の消費期限の管理ができる</p>
		<p>ほしいものリストでほしいものをチェックできる</p>
	</div>
</div>
