/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

h2 {
  font-size: 20px;
}

#error_explanation {
  margin-bottom: 50px;
}

header {
	max-width: 500px;
	heigth: 150px;
	background-color: #fff;
	margin: 0 auto;
	padding:10px;
  border: solid 1px #ff9933;
}

#nav-drawer {
  position: relative;
  top: 5px;
}

/*チェックボックス等は非表示に*/
.nav-unshown {
  display:none;
}

/*アイコンのスペース*/
#nav-open {
  display: inline-block;
  width: 30px;
  height: 20px;
}

/*ハンバーガーの形をCSSで表現*/
#nav-open span, #nav-open span:before, #nav-open span:after {
  position: absolute;
  height: 3px;/*線の太さ*/
  width: 25px;/*長さ*/
  border-radius: 3px;
  background: #ff9933;
  display: block;
  content: '';
  cursor: pointer;
}
#nav-open span:before {
  bottom: -8px;
}
#nav-open span:after {
  bottom: -16px;
}

/*閉じる用の薄黒箇所*/
#nav-close {
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transition: .3s ease-in-out;
}

/*メニューの中身*/
#nav-content {
  overflow: auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999; //要素の重なり,手前に表示
  width: 60%;
  max-width: 330px;
  height: 100%;
  background: #fff;
  transition: .3s ease-in-out; //ゆっくりイン、アウト
  transform: translateX(-120%); //左側に隠しておく
}

/*チェックがついたら表示させる*/
#nav-input:checked ~ #nav-close {
  display: block;
  opacity: 0.5;
}

#nav-input:checked ~ #nav-content {
  transform: translateX(0%);
}

.header-logo-menu{
 display: flex;
 display: -moz-flex;
 display: -o-flex;
 display: -webkit-flex;
 display: -ms-flex;
 flex-direction: row;
 -moz-flex-direction: row;
 -o-flex-direction: row;
 -webkit-flex-direction: row;
 -ms-flex-direction: row;
}

.logo-area {
width: 90px;
height: 55px;
margin-left: 190%;
background-image: image-url(logo3);
background-size: 90px 55px;
}

.humberger-menu { //ハンバーガーメニューの中身
	list-style: none;
	padding: 20px;
}

.container {
	max-width: 500px;
	margin: 0 auto;
	padding: 20px 20px;
	background-color: #fff;
  border-right: solid 1px #ff9933;
  border-left: solid 1px #ff9933;
}

.btn-warning {
  background: #fa6800;
  border: 1px solid #fa6800;
}

.btn-danger {
	background: #f0a30a;
	border: 1px solid #f0a30a; //アウトラインのみのボタンの線の色
}

hr {
    border: 0.5px solid #f0a30a;
    display: block;
    margin-top: 15px;
}

.pagination>li>a {
  border: none;     /*枠線をなくす*/
  color: #696969;   /*文字の色を変える*/
  border-radius: 15px;
}

.pagination>.active>a {     
  background: #ff9933;     /*背景の色を変える*/
  border-radius: 30px;     /*角を丸くする*/
}

.pagination>li>a:hover { 
  background: #ffedab;       
  border-radius: 15px;    /*角を丸くする*/
}

.pagination > li:first-child > a,
.pagination > li:last-child > a {
  border-radius: 15px;
}

footer {
	max-width: 500px;
	height: 50px;
	background: #fff;
	margin: 0 auto;
  border: solid 1px #ff9933;
}

.footer {
	text-align: center;
	line-height: 50px;
}