// Place all the styles related to the foods controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//food.new.html
.food-new {
	margin-bottom: 20px;
}

.line {
	width: 100%;
	height: 15px;
	background-image: image-url(dot);
	background-size: contain;
	margin: 10px 0;
}

.category-form {
	margin-bottom: 10px;
}

//index.html.erb
.index-table {
	margin-top: 20px;
}


.food-image {
	margin: 20px 0;
}