// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//top.html.erb

.main-visual {
	width: 100%;
	height: 300px;
	background-image: image-url(top);
	background-size: contain;
	background-position: center;
}

.main-visual-top,
.main-visual-bottom {
	width: 100%;
	height: 75px;
}

.main-visual-text {
	width: 100%;
	height:150px;
	background-color:rgba(255,255,255,0.7);
	font-size: 25px;
	color: #626063;
	text-align: left;
	line-height: 1.5;
	padding: 20px 0 0 20px;
}

.signup-signin {
	width: 100%;
	height: 80px;
	padding: 20px 0;
}

.top-button {
	width: 100%;
	height: 300px;
	background-color: #fff;
	padding-top: 20px;
	padding-bottom: 20px;
}

.about-button,
.new-button,
.index-button,
.wish_list-button,
.expiry_date-button {
  margin-bottom: 20px;
}

//about.html.erb

.about-visual {
	width: 100%;
	height: 60px;
	background-image: image-url(line);
	background-size: 100% 60px;
	margin-bottom: 10px;
}

.about-visual2 {
	width: 100%;
	height: 60px;
	background-image: image-url(line2);
	background-size: 100% 60px;
	margin-bottom: 10px;
	margin-top: 10px;
}

.about1,
.about3 {
	background-color: #ff7f50;
	color: white;
	padding: 10px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}

.about1:hover,
.about2:hover, 
.about3:hover,
.about3:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
}

.about2,
.about4 {
	padding: 10px;
	box-shadow: 0 0 3px 0 rgba(0,0,0,.12), 0 2px 3px 0 rgba(0,0,0,.22);
	transition: .3s;
}

.about4 {
	margin-top: 20px;
}

.about1:hover,
.about2:hover, 
.about3:hover,
.about3:hover {
	box-shadow: 0 15px 30px -5px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.1);
	transform: translateY(-4px);
}

.about:link,
.about:visitec,
.about:hover,
.about:active {
	color: #626063;
	
}
