// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-visual {
	width: 100%;
	height: 300px;
	background-image: image-url(top);
	background-size: contain;
	background-position: center;
}

.main-visual-text {
	text-align: right;
}
.signup-signin {
	width: 100%;
	height: 80px;
	padding: 20px 0;
}

.top-button {
	width: 100%;
	height: 240px;
	padding-top:20px;
	background-color: #fff;
}

.new-button,
.index-button,
.wish_list-button {
  margin-bottom: 20px;
}

.about1,
.about3 {
	background-color: #ff7f50;
	color: white;
}

.about1,
.about2,
.about3 {
	padding: 10px;	
}
