// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//registration/new.html.erb
//session/new.html.erb
.user-signin,
.user-signup,
.forget-password,
.signup-btn {
	margin-bottom: 40px;
}

.forget-password {
	margin-top: 20px;
	text-align: center;
}


//show.html.erb
.user-calendar {
	margin-top: 50px;
}

.calendar-text {
	margin-left: 30px;
}

//registration/edit.html.erb
.user-edit-message {
	margin: 10% 0 10% 3%;
}

//thank.html.erb
//quit.html.erb
.text-quit,
.text-thank {
  text-align: center;
  margin-bottom: 30px;
}

.btn-quit {
  margin-left: 30%;
}