<% if @category.errors.any? %>
	<h3>エラーがあるため、カテゴリー名を保存できませんでした。</h3>
	<div id="error_explanation">
			<ul>
				<% @category.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
	</div>
<% end %>