<% if @category.errors.any? %>
	<h4>エラーがあるため、<br>
	カテゴリー名を保存できませんでした。</h4>
	<div id="error_explanation">
			<ul>
				<% @category.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
	</div>
<% end %>