<p><%= @resource.name %>様</p>
<p>いえぽけをご利用いただきありがとうございます。</p>

<p>下記リンクをクリックし、パスワードの変更をしてください。</p>

<p><%= link_to 'パスワード変更', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールにお心当たりがない方は、恐れ入りますが、このメールを削除してください。</p>
